*.o
*.lo
*.la

config.h

config.log

config.status

doc/Makefile

libtool

Makefile

mecab-config

mecab.iss

mecabrc

src/.libs/

src/mecab-cost-train

src/mecab-dict-gen

src/mecab-dict-index

src/mecab-system-eval

src/mecab-test-gen

src/mecab

*.msvc

*.pexe

*.nmf

stamp-h1
